.panell-label {
    display: flex;
    gap: 0.4rem;
    padding-left: 0.6rem;
}

.panell-input {
    border-radius: 5px;
    border: 1px black solid;
    font-family: 'Fira Mono', monospace;
    font-size: 0.8rem;
    height: 25px;
    padding-left: 8px;
    width: 20%;
}

/* Extraer botones que vienen por defecto en input type="number" */
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.button-add {
    background-color: #486588;
    border-radius: 10px;
    border: 1px dashed black;
    color: antiquewhite;
    font-size: 1rem;
    width: 25px;
}

.button-sub {
    background-color: #486588;
    border-radius: 10px;
    border: 1px dashed black;
    color: antiquewhite;
    font-size: 1rem;
    padding-bottom: 2px;
    width: 25px;
}

.btn-info {
    background-color: grey;
    border-radius: 20px;
    border: none;
    color: antiquewhite;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: bold;
    padding-right: 2px;
    width: 25px;
}

.input-form {
    border-radius: 5px;
    border: 1px black solid;
    font-family: 'Fira Mono', monospace;
    height: 25px;
    padding: 0.5rem;
    width: 150px;
}

.btn-submit {
    background-color: rgb(9, 9, 87);
    border-radius: 10px;
    border: none;
    color: antiquewhite;
    font-family: 'Fira Mono', monospace;
    height: 40px;
    opacity: 0.7;
    width: 150px;
}

.btn-submit:hover {
    background-color: rgb(79, 158, 55);
    color: antiquewhite;
}

.budgets-container {
    font-size: 0.8rem;
    padding: 1rem;
}

.budget {
    margin-top: 0.9rem;
}

.link {
    color: orange
}

.link:hover {
    color: brown;
}